
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebUI.cshtml";
}



<!-- Title page -->
@* <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/WebUITheme/images/bg-01.jpg')">
	<h2 class="ltext-105 cl0 txt-center">
		Müşteri Hizmetleri
	</h2>
</section> *@


<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-lg-9 p-b-80">
				<div class="p-r-45 p-r-0-lg">
					<!-- item blog -->
					<div class="p-b-63">

						<div class="p-t-32">
							<h4 class="p-b-15">
								<a href="blog-detail.html" class="ltext-108 cl2 hov-cl1 trans-04">
									Müşteri Hizmetleri
								</a>
							</h4>
							<p class="stext-117 cl6">Müşteri Hizmetleri</p>

							<p>2 Kdis 2 Mom olarak, siz değerli müşterilerimize en iyi alışveriş deneyimini sunmayı amaçlıyoruz. Herhangi bir sorunuz, talebiniz veya geri bildiriminiz olduğunda size yardımcı olmak için her zaman yanınızdayız. Müşteri memnuniyeti bizim için öncelikli bir konudur, bu yüzden her türlü desteğe ihtiyacınız olduğunda size en hızlı şekilde yardımcı olabilmek için farklı iletişim kanallarımızla hizmetinizdeyiz.</p>

							<br>

							<h5><b>Nasıl Yardım Alabilirsiniz?</b></h5>

							<p>Web sitemiz üzerinden veya telefon ile kolayca bizimle iletişime geçebilirsiniz. Sunduğumuz çeşitli destek yöntemleriyle, her türlü ihtiyacınızı en hızlı şekilde çözüme kavuşturuyoruz. Aşağıdaki seçeneklerden sizin için en uygun olanını seçerek bizlere ulaşabilirsiniz:</p>

							<ul>
								<li><strong>Canlı Destek:</strong> <em>En hızlı ve etkili destek</em>. Web sitemizin sol alt köşesinde bulunan sohbet penceresi üzerinden bizimle anında iletişime geçebilirsiniz. Canlı destek ekibimiz, sorularınıza hemen cevap vererek size en iyi çözümü sunacaktır. Bu seçenek, hızlı ve doğrudan bir destek almak için ideal bir yöntemdir.</li>
								<li><strong>E-posta:</strong> <em>Detaylı bilgi ve açıklama isterseniz</em>. Yardım almak istediğiniz konuda detaylı bir açıklama veya doküman talep ediyorsanız, <a href="mailto:2kids2mom@gmail.com">2kids2mom@gmail.com</a> adresine e-posta gönderebilirsiniz. E-posta yoluyla başvurularınıza en kısa süre içerisinde geri dönüş yapılacaktır.</li>
								<li><strong>Telefon Desteği:</strong> <em>Yüz yüze iletişim</em>. Eğer telefonla destek almak isterseniz, müşteri hizmetleri hattımıza <strong>05064970572</strong> numarasından ulaşabilirsiniz. Haftanın her günü, mesai saatleri içinde sorularınıza yardımcı olabilmek için telefonla da destek sağlıyoruz.</li>
								<li><strong>Sosyal Medya:</strong> <em>Hızlı yanıt ve etkileşim</em>. Sosyal medya platformlarımız üzerinden de bizimle iletişime geçebilirsiniz. Instagram, Facebook ve Twitter hesaplarımızdan bize DM göndererek hızlıca destek alabilirsiniz. Sosyal medya üzerinden sıkça sorulan sorulara yanıtlar paylaşıyoruz.</li>
							</ul>

							<br>

							<h5><b>Hizmetlerimiz</b></h5>

							<p>2 Kdis 2 Mom, sadece kaliteli ürünler sunmakla kalmaz, aynı zamanda mükemmel bir müşteri hizmeti deneyimi sunar. Aşağıda, sağladığımız çeşitli hizmetlerin bir listesini bulabilirsiniz. Her türlü ihtiyacınıza uygun olarak size özel çözümler sunmak için buradayız:</p>

							<ul>
								<li><strong>Sipariş Takibi ve Durum Bilgisi:</strong> Sipariş verdiğiniz ürünlerin durumu hakkında bilgi almak için bizimle iletişime geçebilirsiniz. Sipariş numaranızla birlikte hangi aşamada olduğunu öğrenebilir ve teslimat tarihini öğrenebilirsiniz. Ayrıca kargo takip numaranızı da talep edebilirsiniz.</li>
								<li><strong>Ürün Bilgisi ve Danışmanlık:</strong> Almayı düşündüğünüz ürünler hakkında bilgi almak isterseniz, uzman ekibimiz ürün özellikleri, beden tablosu, renk seçenekleri, kullanım talimatları gibi konularda size yardımcı olacaktır. Ayrıca, ürünlerle ilgili en güncel kampanyalar ve indirimler hakkında da bilgi alabilirsiniz.</li>
								<li><strong>İade ve Değişim İşlemleri:</strong> Sipariş ettiğiniz ürün ile ilgili herhangi bir iade veya değişim talebiniz varsa, detaylı prosedürler hakkında bilgi alabilir ve işlemlerinizi hızlıca gerçekleştirebilirsiniz. Ürünlerinizi iade etmek veya değiştirmek için, iade politikamız hakkında bilgi edinebilir ve talimatlar doğrultusunda işlem yapabilirsiniz.</li>
								<li><strong>Teknik Destek ve Web Desteği:</strong> Web sitemizle ilgili yaşadığınız teknik bir sorunla karşılaşırsanız, bizimle iletişime geçebilirsiniz. Eğer ödeme işlemi sırasında bir problem yaşarsanız, sayfa yüklenmiyor veya başka bir teknik sorunla karşılaşırsanız, uzman ekibimiz sorununuzu hızla çözmek için yanınızda olacaktır.</li>
								<li><strong>Kampanyalar ve Özel Teklifler:</strong> 2 Kdis 2 Mom, sık sık kampanyalar ve özel teklifler sunar. Abone olduğunuzda veya e-posta listemize katıldığınızda, size özel fırsatlar, indirimler ve kuponlar hakkında bilgilendirileceksiniz. Ayrıca sosyal medyada düzenlediğimiz çekilişler ve yarışmalar hakkında bilgi almak için bizi takip edebilirsiniz.</li>
							</ul>

							<br>

							<h5><b>Müşteri Memnuniyeti ve Geri Bildirim</b></h5>

							<p>Hedefimiz, her bir müşterimize yüksek kaliteli hizmet sunmaktır. Müşteri memnuniyeti bizim için sadece bir hedef değil, sürekli bir süreçtir. Bu yüzden, her türlü geri bildiriminizi bizlere iletmekten çekinmeyin. Web sitemizdeki deneyiminizi, ürünlerimiz hakkındaki düşüncelerinizi ve müşteri hizmetlerimizle ilgili yorumlarınızı bizimle paylaşabilirsiniz. Geri bildirimleriniz, ürün ve hizmet kalitemizi sürekli olarak iyileştirmemize yardımcı olacaktır.</p>

							<p>Yardımcı olabileceğimiz her konuda bizlere ulaşabilirsiniz. Şayet bir sorunuz, öneriniz ya da şikayetiniz varsa, bize bildirin. Sorununuzu en kısa süre içinde çözüme kavuşturacağımızdan emin olabilirsiniz. Bizimle iletişime geçtikten sonra, sorununuzun çözülmediği takdirde, alternatif çözümler önerilecektir.</p>

							<br>

							<h5><b>Özelleştirilmiş Alışveriş Deneyimi</b></h5>

							<p>Her müşteri farklıdır, bu nedenle her birine özel bir alışveriş deneyimi sunmayı hedefliyoruz. Web sitemiz üzerinde gezinirken, kişisel tercihleriniz doğrultusunda öneriler sunabiliriz. Kullanıcı hesaplarınızı oluşturduğunuzda, önceki siparişleriniz ve alışveriş geçmişiniz doğrultusunda size özel önerilerde bulunarak alışverişinizi daha kolay hale getirebiliriz.</p>

							<br>

							<p>Unutmayın, 2 Kdis 2 Mom her zaman yanınızda! Herhangi bir sorun, şüphe veya talep durumunda bizimle iletişime geçmekten çekinmeyin. Size her zaman yardımcı olmaktan mutluluk duyarız.</p>

							<p><strong>Sağlıklı, Mutlu ve Güvenli Alışverişler Dileriz!</strong></p>


							<div class="flex-w flex-sb-m p-t-18">
								<span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10">
									<span>
										<span class="cl4">By</span> 2 Kids 2 Mom
										<span class="cl12 m-l-4 m-r-6">|</span>
									</span>

									<span>
										Çocuk Giyim, Giyim
										<span class="cl12 m-l-4 m-r-6">|</span>
									</span>

									<span>
										8 yorum
									</span>
								</span>


							</div>
						</div>
					</div>

					<!-- item blog -->
					<!-- Pagination -->
					<div class="flex-l-m flex-w w-full p-t-10 m-lr--7">
						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">
							1
						</a>

						<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7">
							2
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-lg-3 p-b-80">
				<div class="side-menu">
					<div class="bor17 of-hidden pos-relative">
						<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search"
							   placeholder="Arama Yapın...">

						<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
					</div>

					<div class="p-t-55">
						<h4 class="mtext-112 cl2 p-b-33">
							Kategoriler
						</h4>

						<ul>
							@if (ViewBag.AnaKategori != null)
							{
								@foreach (var item in ViewBag.AnaKategori)
								{
									<li class="bor18">
										<a href="/AltKategori/Index/@item.Id" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
											@item.Adi
										</a>
									</li>
								}
							}
						</ul>
					</div>

					<div class="p-t-50">
						<h4 class="mtext-112 cl2 p-b-27">
							Etiketler
						</h4>

						<div class="flex-w m-r--5">
							<a href="#"
							   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Kız Çocuk Modası
							</a>

							<a href="#"
							   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Erkek Çocuk Modası
							</a>

							<a href="#"
							   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Çocuk Giyim
							</a>

							<a href="#"
							   class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Çocuk Stili
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


