@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebUITheme.cshtml";
}
<ul class="breadcrumb">
    <li>
        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a>
    </li>
    <li><a href="@Url.Action("Index","UsedRules")">Kullanım Koşulları</a></li>
</ul>
<h1 class="title page-title"><span>Kullanım Koşulları</span></h1>
<div id="information-information" class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="content">
                @if(ViewBag.KullanimKosullari != null)
                {
                    @Html.Raw(ViewBag.KullanimKosullari.Metin)

                }
            </div>
        </div>
    </div>
</div>
